myenv/
# Ignore node_modules directory
node_modules/

frontend/.vite/
backend/__pycache__/
__pycache__/
*.pyc
*.pyo
backend/myproject/__pycache__
backend/myproject/__pycache__/__init__.cpython-312.pyc